**1. Robust Calculator (types &amp; conversions, error handling)**

In [ ]:
def safe_convert_to_number(value):
    """Converts a string to an int or float, handling conversion errors."""
    try:
        return int(value)
    except ValueError:
        try:
            return float(value)
        except ValueError:
            return None

def interactive_calculator():
    """Runs an interactive calculator that accepts two operands and an operator."""
    print("\n--- Interactive Calculator ---")
    while True:
        num1_str = input("Enter the first number (or 'q' to quit): ").strip()
        if num1_str.lower() == 'q':
            break
        num1 = safe_convert_to_number(num1_str)

        if num1 is None:
            print("Error: Invalid first number. Please enter a numeric value.")
            continue

        operator = input("Enter an operator (+, -, *, /): ").strip()
        if operator not in ['+', '-', '*', '/']:
            print("Error: Invalid operator. Please use +, -, *, or /.")
            continue

        num2_str = input("Enter the second number: ").strip()
        num2 = safe_convert_to_number(num2_str)

        if num2 is None:
            print("Error: Invalid second number. Please enter a numeric value.")
            continue

        result = None
        try:
            if operator == '+':
                result = num1 + num2
            elif operator == '-':
                result = num1 - num2
            elif operator == '*':
                result = num1 * num2
            elif operator == '/':
                if num2 == 0:
                    raise ZeroDivisionError("Cannot divide by zero.")
                result = num1 / num2
            print(f"Result: {num1} {operator} {num2} = {result}")
        except ZeroDivisionError as e:
            print(f"Calculation Error: {e}")
        except Exception as e:
            print(f"An unexpected error occurred: {e}")

In [ ]:
import re

def evaluate_expression(expression_str):
    """Evaluates a mathematical expression given as a string."""
    print(f"\n--- Evaluating Expression: '{expression_str}' ---")

    # Regex to split the expression into numbers and operators
    # It handles floats, integers, and the four basic operators
    tokens = re.findall(r'\d+\.?\d*|[+\-*/]', expression_str)

    if not tokens:
        print("Error: Empty or invalid expression.")
        return None

    # Validate tokens: expect number, operator, number sequence
    if len(tokens) != 3:
        print("Error: Expression must be in the format 'number operator number'.")
        return None

    num1_str, operator, num2_str = tokens

    num1 = safe_convert_to_number(num1_str)
    num2 = safe_convert_to_number(num2_str)

    if num1 is None or num2 is None:
        print("Error: Invalid number(s) in expression.")
        return None

    if operator not in ['+', '-', '*', '/']:
        print("Error: Invalid operator in expression. Please use +, -, *, or /.")
        return None

    result = None
    try:
        if operator == '+':
            result = num1 + num2
        elif operator == '-':
            result = num1 - num2
        elif operator == '*':
            result = num1 * num2
        elif operator == '/':
            if num2 == 0:
                raise ZeroDivisionError("Cannot divide by zero.")
            result = num1 / num2
        print(f"Result of '{expression_str}': {result}")
    except ZeroDivisionError as e:
        print(f"Calculation Error: {e}")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
    return result

In [ ]:
evaluate_expression('10 / 0')

--- Evaluating Expression: '10 / 0' ---
Calculation Error: Cannot divide by zero.

**2. Student Records — CRUD with Lists &amp; Dicts**

In [ ]:
student_records = []
next_student_id = 1

def _validate_age(age):
    """Validates if the age is a positive integer."""
    try:
        age = int(age)
        if age > 0:
            return age
        else:
            print("Error: Age must be a positive integer.")
            return None
    except ValueError:
        print("Error: Age must be a number.")
        return None

def _validate_gpa(gpa):
    """Validates if the GPA is a float between 0.0 and 4.0 inclusive."""
    try:
        gpa = float(gpa)
        if 0.0 <= gpa <= 4.0:
            return gpa
        else:
            print("Error: GPA must be between 0.0 and 4.0.")
            return None
    except ValueError:
        print("Error: GPA must be a number.")
        return None

def _find_student_index(student_id):
    """Helper function to find the index of a student by ID."""
    for i, student in enumerate(student_records):
        if student['id'] == student_id:
            return i
    return -1

def add_student(name, age_str, gpa_str):
    """Adds a new student record to the system after validation."""
    global next_student_id

    age = _validate_age(age_str)
    gpa = _validate_gpa(gpa_str)

    if age is None or gpa is None:
        return

    student = {
        'id': next_student_id,
        'name': str(name).strip(),
        'age': age,
        'gpa': gpa
    }
    student_records.append(student)
    print(f"Student '{student['name']}' with ID {student['id']} added successfully.")
    next_student_id += 1

def view_student(student_id):
    """Displays the details of a student by their ID."""
    index = _find_student_index(student_id)
    if index != -1:
        student = student_records[index]
        print("\n--- Student Details ---")
        print(f"ID: {student['id']}")
        print(f"Name: {student['name']}")
        print(f"Age: {student['age']}")
        print(f"GPA: {student['gpa']}")
        print("-----------------------")
    else:
        print(f"Error: Student with ID {student_id} not found.")

def update_student(student_id, new_name, new_age_str, new_gpa_str):
    """Updates an existing student's record after validation."""
    index = _find_student_index(student_id)
    if index != -1:
        age = _validate_age(new_age_str)
        gpa = _validate_gpa(new_gpa_str)

        if age is None or gpa is None:
            return

        student_records[index]['name'] = str(new_name).strip()
        student_records[index]['age'] = age
        student_records[index]['gpa'] = gpa
        print(f"Student with ID {student_id} updated successfully.")
    else:
        print(f"Error: Student with ID {student_id} not found.")

def delete_student(student_id):
    """Deletes a student record by their ID."""
    index = _find_student_index(student_id)
    if index != -1:
        deleted_student = student_records.pop(index)
        print(f"Student '{deleted_student['name']}' with ID {student_id} deleted successfully.")
    else:
        print(f"Error: Student with ID {student_id} not found.")

def list_all_students():
    """Lists all student records in the system."""
    if not student_records:
        print("No student records found.")
        return

    print("\n--- All Student Records ---")
    for student in student_records:
        print(f"ID: {student['id']}, Name: {student['name']}, Age: {student['age']}, GPA: {student['gpa']}")
    print("---------------------------")

In [12]:
print("\n--- Adding Students ---")
add_student("Alice Smith", 20, 3.8)
add_student("Bob Johnson", 22, "3.1")
add_student("Charlie Brown", "19", 3.55)
list_all_students()

--- Adding Students ---
Student 'Alice Smith' with ID 2 added successfully.
Student 'Bob Johnson' with ID 3 added successfully.
Student 'Charlie Brown' with ID 4 added successfully.

--- All Student Records ---
ID: 1, Name: Alice Smith, Age: 20, GPA: 3.8
ID: 2, Name: Alice Smith, Age: 20, GPA: 3.8
ID: 3, Name: Bob Johnson, Age: 22, GPA: 3.1
ID: 4, Name: Charlie Brown, Age: 19, GPA: 3.55
---------------------------

In [ ]:
# Invalid Age
print("\n--- Adding Students ---")
add_student("Invalid Age", "abc", 3.0)

--- Adding Students ---
Error: Age must be a number.

In [13]:
# Invalid Age (negative)
print("\n--- Adding Students ---")
add_student("Negative Age", -5, 3.0)

--- Adding Students ---
Error: Age must be a positive integer.

In [14]:
# Invalid GPA
print("\n--- Adding Students ---")
add_student("Invalid GPA", 20, "5.0")

--- Adding Students ---
Error: GPA must be between 0.0 and 4.0.

In [15]:
# Invalid GPA (negative)
print("\n--- Adding Students ---")
add_student("Below GPA", 20, -0.5)

--- Adding Students ---
Error: GPA must be between 0.0 and 4.0.

In [16]:
# View
print("\n--- Viewing Student ID 2 ---")
view_student(2)
view_student(99) # Non-existent ID

--- Viewing Student ID 2 ---

--- Student Details ---
ID: 2
Name: Alice Smith
Age: 20
GPA: 3.8
-----------------------
Error: Student with ID 99 not found.

In [18]:
# Update
print("\n--- Updating Student ID 1 ---")
update_student(1, "Alice Williams", 21, 3.9)
update_student(3, "Bob Johnson", 22, "4.5") # Invalid GPA for update
list_all_students()

--- Updating Student ID 1 ---
Student with ID 1 updated successfully.
Error: GPA must be between 0.0 and 4.0.

--- All Student Records ---
ID: 1, Name: Alice Williams, Age: 21, GPA: 3.9
ID: 2, Name: Alice Smith, Age: 20, GPA: 3.8
ID: 3, Name: Bob Johnson, Age: 22, GPA: 3.1
ID: 4, Name: Charlie Brown, Age: 19, GPA: 3.55
---------------------------

In [19]:
# Delete
print("\n--- Deleting Student ID 3 ---")
delete_student(3)
delete_student(99) # Non-existent ID
list_all_students()

--- Deleting Student ID 3 ---
Student 'Bob Johnson' with ID 3 deleted successfully.
Error: Student with ID 99 not found.

--- All Student Records ---
ID: 1, Name: Alice Williams, Age: 21, GPA: 3.9
ID: 2, Name: Alice Smith, Age: 20, GPA: 3.8
ID: 4, Name: Charlie Brown, Age: 19, GPA: 3.55
---------------------------

In [20]:
# List all to check ID reassignment
print("\n--- Adding another student to see new ID assignment ---")
add_student("David Lee", 20, 3.2)
list_all_students()

--- Adding another student to see new ID assignment ---
Student 'David Lee' with ID 5 added successfully.

--- All Student Records ---
ID: 1, Name: Alice Williams, Age: 21, GPA: 3.9
ID: 2, Name: Alice Smith, Age: 20, GPA: 3.8
ID: 4, Name: Charlie Brown, Age: 19, GPA: 3.55
ID: 5, Name: David Lee, Age: 20, GPA: 3.2
---------------------------

**3. Nested Grading Logic (control flow &amp; aggregation)**

In [21]:
# Weights and grading scale
assessment_weights = {
    'homework': 0.20,
    'quizzes': 0.15,
    'midterm_exam': 0.25,
    'final_exam': 0.30,
    'project': 0.10
}

grading_scale = {
    'A': 70,
    'B+': 65,
    'B': 60,
    'C+': 55,
    'C': 50,
    'D': 45,
    'E': 40,
    'F': 39
}

print("Assessment Weights:", assessment_weights)
print("Grading Scale:", grading_scale)

Assessment Weights: {'homework': 0.2, 'quizzes': 0.15, 'midterm_exam': 0.25, 'final_exam': 0.3, 'project': 0.1}
Grading Scale: {'A': 70, 'B+': 65, 'B': 60, 'C+': 55, 'C': 50, 'D': 45, 'E': 40, 'F': 39}

In [22]:
# Input Student Scores
student_scores = [
    {
        'name': 'Alice',
        'homework': 90,
        'quizzes': 85,
        'midterm_exam': 92,
        'final_exam': 88,
        'project': 95
    },
    {
        'name': 'Bob',
        'homework': 78,
        'quizzes': 80,
        'midterm_exam': 75,
        'final_exam': 82,
        'project': 88
    },
    {
        'name': 'Charlie',
        'homework': 95,
        'quizzes': 90,
        'midterm_exam': 88,
        'final_exam': 90,
        'project': 92
    },
    {
        'name': 'Diana',
        'homework': 65,
        'quizzes': 70,
        'midterm_exam': 60,
        'final_exam': 68,
        'project': 72
    }
]

print("Student Scores:", student_scores)

Student Scores: [{'name': 'Alice', 'homework': 90, 'quizzes': 85, 'midterm_exam': 92, 'final_exam': 88, 'project': 95}, {'name': 'Bob', 'homework': 78, 'quizzes': 80, 'midterm_exam': 75, 'final_exam': 82, 'project': 88}, {'name': 'Charlie', 'homework': 95, 'quizzes': 90, 'midterm_exam': 88, 'final_exam': 90, 'project': 92}, {'name': 'Diana', 'homework': 65, 'quizzes': 70, 'midterm_exam': 60, 'final_exam': 68, 'project': 72}]

In [23]:
# Weighted Score
def calculate_weighted_score(student_data, weights):
    total_score = 0
    for category, weight in weights.items():
        if category in student_data:
            total_score += student_data[category] * weight
    return total_score

for student in student_scores:
    student['weighted_total_score'] = calculate_weighted_score(student, assessment_weights)

print("Updated Student Scores with Weighted Total:", student_scores)

Updated Student Scores with Weighted Total: [{'name': 'Alice', 'homework': 90, 'quizzes': 85, 'midterm_exam': 92, 'final_exam': 88, 'project': 95, 'weighted_total_score': 89.65}, {'name': 'Bob', 'homework': 78, 'quizzes': 80, 'midterm_exam': 75, 'final_exam': 82, 'project': 88, 'weighted_total_score': 79.75}, {'name': 'Charlie', 'homework': 95, 'quizzes': 90, 'midterm_exam': 88, 'final_exam': 90, 'project': 92, 'weighted_total_score': 90.7}, {'name': 'Diana', 'homework': 65, 'quizzes': 70, 'midterm_exam': 60, 'final_exam': 68, 'project': 72, 'weighted_total_score': 66.1}]

In [24]:
# Assign Grades
def assign_letter_grade(score, grading_scale):
    # Sort the grading scale by score in descending order to handle tiers correctly
    sorted_grading_scale = sorted(grading_scale.items(), key=lambda item: item[1], reverse=True)

    for grade, min_score in sorted_grading_scale:
        if score >= min_score:
            return grade
    return 'F' # Default to F if score is below the lowest defined threshold

for student in student_scores:
    student['letter_grade'] = assign_letter_grade(student['weighted_total_score'], grading_scale)

print("Updated Student Scores with Letter Grades:", student_scores)

Updated Student Scores with Letter Grades: [{'name': 'Alice', 'homework': 90, 'quizzes': 85, 'midterm_exam': 92, 'final_exam': 88, 'project': 95, 'weighted_total_score': 89.65, 'letter_grade': 'A'}, {'name': 'Bob', 'homework': 78, 'quizzes': 80, 'midterm_exam': 75, 'final_exam': 82, 'project': 88, 'weighted_total_score': 79.75, 'letter_grade': 'A'}, {'name': 'Charlie', 'homework': 95, 'quizzes': 90, 'midterm_exam': 88, 'final_exam': 90, 'project': 92, 'weighted_total_score': 90.7, 'letter_grade': 'A'}, {'name': 'Diana', 'homework': 65, 'quizzes': 70, 'midterm_exam': 60, 'final_exam': 68, 'project': 72, 'weighted_total_score': 66.1, 'letter_grade': 'B+'}]

In [25]:
# Class Summary Statistics
import numpy as np
from collections import Counter

# Extract weighted total scores
weighted_scores = [student['weighted_total_score'] for student in student_scores]

# Calculate mean and median
class_mean_score = np.mean(weighted_scores)
class_median_score = np.median(weighted_scores)

# Extract letter grades
letter_grades = [student['letter_grade'] for student in student_scores]

# Calculate grade distribution
grade_distribution = Counter(letter_grades)

print("Class Mean Weighted Score:", class_mean_score)
print("Class Median Weighted Score:", class_median_score)
print("Grade Distribution:", grade_distribution)

Class Mean Weighted Score: 81.55000000000001
Class Median Weighted Score: 84.7
Grade Distribution: Counter({'A': 3, 'B+': 1})

In [26]:
# Generate Report
report = f"""Class Performance Report:\n\nMean Weighted Score: {class_mean_score:.2f}\nMedian Weighted Score: {class_median_score:.2f}\n\nGrade Distribution:\n"""

# Sort grade distribution for consistent report order
sorted_grades = sorted(grade_distribution.items(), key=lambda item: grading_scale.get(item[0], 0), reverse=True)

for grade, count in sorted_grades:
    report += f"  {grade}: {count} students\n"

print(report)

Class Performance Report:

Mean Weighted Score: 81.55
Median Weighted Score: 84.70

Grade Distribution:
  A: 3 students
  B+: 1 students

**4. Contact Search &amp; Deduplication (strings &amp; comprehensions)**

In [27]:
import csv

# Create a sample CSV file for demonstration
csv_file_path = 'contacts.csv'
contact_data = [
    {'name': 'Alice Smith', 'phone': '123-456-7890', 'email': 'alice@example.com'},
    {'name': 'Bob Johnson', 'phone': '098-765-4321', 'email': 'bob@example.com'},
    {'name': 'Charlie Brown', 'phone': '555-123-4567', 'email': 'charlie@example.com'}
]

# Get field names from the first dictionary
fieldnames = contact_data[0].keys()

with open(csv_file_path, 'w', newline='') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()  # Write the header row
    writer.writerows(contact_data)  # Write all data rows

print(f"Sample CSV file '{csv_file_path}' created successfully.")

Sample CSV file 'contacts.csv' created successfully.

In [28]:
def load_contacts_from_csv(filepath):
    contacts = []
    with open(filepath, 'r', newline='') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            contacts.append(row)
    return contacts

# Load contacts using the function
contacts = load_contacts_from_csv(csv_file_path)

print("Loaded Contacts:", contacts)

Loaded Contacts: [{'name': 'Alice Smith', 'phone': '123-456-7890', 'email': 'alice@example.com'}, {'name': 'Bob Johnson', 'phone': '098-765-4321', 'email': 'bob@example.com'}, {'name': 'Charlie Brown', 'phone': '555-123-4567', 'email': 'charlie@example.com'}]

In [29]:
def search_contacts(contacts_list, search_term, fields=None):
    if fields is None:
        fields = ['name', 'phone', 'email'] # Default fields to search

    matching_contacts = []
    search_term_lower = search_term.lower()

    for contact in contacts_list:
        is_match = False
        for field in fields:
            if field in contact and search_term_lower in str(contact[field]).lower():
                is_match = True
                break
        if is_match and contact not in matching_contacts:
            matching_contacts.append(contact)
    return matching_contacts

# Demonstrate the usage of the search_contacts function
search_results = search_contacts(contacts, 'alice', ['name', 'email'])
print("Search results for 'alice':", search_results)

search_results_phone = search_contacts(contacts, '456', ['phone'])
print("Search results for '456' in phone:", search_results_phone)

search_results_charlie = search_contacts(contacts, 'charlie', ['name'])
print("Search results for 'charlie' in name:", search_results_charlie)

Search results for 'alice': [{'name': 'Alice Smith', 'phone': '123-456-7890', 'email': 'alice@example.com'}]
Search results for '456' in phone: [{'name': 'Alice Smith', 'phone': '123-456-7890', 'email': 'alice@example.com'}, {'name': 'Charlie Brown', 'phone': '555-123-4567', 'email': 'charlie@example.com'}]
Search results for 'charlie' in name: [{'name': 'Charlie Brown', 'phone': '555-123-4567', 'email': 'charlie@example.com'}]

In [30]:
import csv

# Create a sample CSV file with duplicate contacts for demonstration
csv_file_path_duplicates = 'contacts_with_duplicates.csv'
contact_data_with_duplicates = [
    {'name': 'Alice Smith', 'phone': '123-456-7890', 'email': 'alice@example.com'},
    {'name': 'Bob Johnson', 'phone': '098-765-4321', 'email': 'bob@example.com'},
    {'name': 'Charlie Brown', 'phone': '555-123-4567', 'email': 'charlie@example.com'},
    {'name': 'Alice Smith Duplicate', 'phone': '123-456-7890', 'email': 'alice_dup@example.com'}, # Duplicate phone
    {'name': 'Bob Johnson Duplicate', 'phone': '098-765-9999', 'email': 'bob@example.com'}, # Duplicate email
    {'name': 'David Lee', 'phone': '111-222-3333', 'email': 'david@example.com'}
]

fieldnames_dup = contact_data_with_duplicates[0].keys()

with open(csv_file_path_duplicates, 'w', newline='') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames_dup)
    writer.writeheader()
    writer.writerows(contact_data_with_duplicates)

print(f"Sample CSV file with duplicates '{csv_file_path_duplicates}' created successfully.")

# Load contacts with duplicates using the existing function
contacts_with_duplicates = load_contacts_from_csv(csv_file_path_duplicates)
print("Loaded Contacts with Duplicates:", contacts_with_duplicates)

Sample CSV file with duplicates 'contacts_with_duplicates.csv' created successfully.
Loaded Contacts with Duplicates: [{'name': 'Alice Smith', 'phone': '123-456-7890', 'email': 'alice@example.com'}, {'name': 'Bob Johnson', 'phone': '098-765-4321', 'email': 'bob@example.com'}, {'name': 'Charlie Brown', 'phone': '555-123-4567', 'email': 'charlie@example.com'}, {'name': 'Alice Smith Duplicate', 'phone': '123-456-7890', 'email': 'alice_dup@example.com'}, {'name': 'Bob Johnson Duplicate', 'phone': '098-765-9999', 'email': 'bob@example.com'}, {'name': 'David Lee', 'phone': '111-222-3333', 'email': 'david@example.com'}]

In [31]:
def deduplicate_contacts(contacts_list):
    unique_contacts = []
    duplicate_log = []
    seen_phones = set()
    seen_emails = set()

    for contact in contacts_list:
        is_duplicate = False
        phone = contact.get('phone')
        email = contact.get('email')

        # Check for phone duplication (case-insensitive for practical purposes if phone numbers could vary in format)
        if phone and phone in seen_phones:
            is_duplicate = True

        # Check for email duplication (case-insensitive)
        if email:
            email_lower = email.lower()
            if email_lower in seen_emails:
                is_duplicate = True

        if is_duplicate:
            duplicate_log.append(contact)
        else:
            unique_contacts.append(contact)
            if phone: seen_phones.add(phone)
            if email: seen_emails.add(email_lower) # Add lowercase email to set

    return unique_contacts, duplicate_log

# Call the deduplicate_contacts function
cleaned_contacts, removed_duplicates = deduplicate_contacts(contacts_with_duplicates)

print("Cleaned Contacts:", cleaned_contacts)
print("Removed Duplicates:", removed_duplicates)

Cleaned Contacts: [{'name': 'Alice Smith', 'phone': '123-456-7890', 'email': 'alice@example.com'}, {'name': 'Bob Johnson', 'phone': '098-765-4321', 'email': 'bob@example.com'}, {'name': 'Charlie Brown', 'phone': '555-123-4567', 'email': 'charlie@example.com'}, {'name': 'David Lee', 'phone': '111-222-3333', 'email': 'david@example.com'}]
Removed Duplicates: [{'name': 'Alice Smith Duplicate', 'phone': '123-456-7890', 'email': 'alice_dup@example.com'}, {'name': 'Bob Johnson Duplicate', 'phone': '098-765-9999', 'email': 'bob@example.com'}]

In [32]:
import csv

def save_contacts_to_csv(contacts_list, filepath):
    if not contacts_list:
        print("No contacts to save.")
        return

    # Extract field names from the first contact as a basis for CSV headers
    # In a real-world scenario, you might want to gather all unique keys from all contacts
    fieldnames = contacts_list[0].keys()

    with open(filepath, 'w', newline='') as csvfile:
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
        writer.writeheader()
        writer.writerows(contacts_list)

    print(f"Cleaned contacts successfully saved to '{filepath}'.")

# Define the new CSV file path
cleaned_csv_file_path = 'cleaned_contacts.csv'

# Save the cleaned contacts
save_contacts_to_csv(cleaned_contacts, cleaned_csv_file_path)

Cleaned contacts successfully saved to 'cleaned_contacts.csv'.

Summary:
Total number of contacts loaded: Six contacts were initially loaded from the contacts_with_duplicates.csv file.
Number of duplicates found and removed: Two duplicate contacts were found and removed.
Cleaned contact list (sample): The cleaned list contains 4 contacts. A sample includes:
{'name': 'Alice Smith', 'phone': '123-456-7890', 'email': 'alice@example.com'}
{'name': 'Bob Johnson', 'phone': '098-765-4321', 'email': 'bob@example.com'}
{'name': 'Charlie Brown', 'phone': '555-123-4567', 'email': 'charlie@example.com'}
{'name': 'David Lee', 'phone': '111-222-3333', 'email': 'david@example.com'}
Log of removed duplicates: The following contacts were identified and removed as duplicates:
{'name': 'Alice Smith Duplicate', 'phone': '123-456-7890', 'email': 'alice_dup@example.com'} (duplicate phone)
{'name': 'Bob Johnson Duplicate', 'phone': '098-765-9999', 'email': 'bob@example.com'} (duplicate email)

**5. Loop Practice — Prime Gap Finder (loops)**

In [33]:
def generate_primes_sieve(limit):
    # 1. Initialize a boolean list or array, is_prime, of size limit+1 with all entries marked as True.
    is_prime = [True] * (limit + 1)

    # 2. Mark the first two numbers, 0 and 1, as not prime.
    if limit >= 0: # Ensure limit allows for 0 and 1
        is_prime[0] = False
    if limit >= 1:
        is_prime[1] = False

    # 3. Iterate from p = 2 up to the square root of the limit.
    p = 2
    while (p * p <= limit):
        # a. If is_prime[p] is True, it means p is a prime number.
        if is_prime[p]:
            # b. Mark all multiples of p (starting from p*p) as not prime.
            for multiple in range(p * p, limit + 1, p):
                is_prime[multiple] = False
        p += 1

    # 4. Create a list called prime_numbers containing all numbers i from 2 to limit for which is_prime[i] is True.
    prime_numbers = [i for i, prime in enumerate(is_prime) if prime and i >= 2]

    return prime_numbers

# Generate primes up to 10,000
primes = generate_primes_sieve(10000)

# 5. Print the first few and the last few prime numbers, and the total count
print(f"Total prime numbers found up to 10,000: {len(primes)}")
print(f"First 10 prime numbers: {primes[:10]}")
print(f"Last 10 prime numbers: {primes[-10:]}")

Total prime numbers found up to 10,000: 1229
First 10 prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
Last 10 prime numbers: [9887, 9901, 9907, 9923, 9929, 9931, 9941, 9949, 9967, 9973]

In [34]:
large_gap_prime_pairs = []

for i in range(len(primes) - 1):
    current_prime = primes[i]
    next_prime = primes[i+1]

    difference = next_prime - current_prime

    if difference >= 20:
        large_gap_prime_pairs.append((current_prime, next_prime))

print("Consecutive prime pairs with a gap of 20 or greater:")
print(large_gap_prime_pairs)

Consecutive prime pairs with a gap of 20 or greater:
[(887, 907), (1129, 1151), (1327, 1361), (1637, 1657), (1669, 1693), (1951, 1973), (2179, 2203), (2311, 2333), (2477, 2503), (2557, 2579), (2971, 2999), (3089, 3109), (3137, 3163), (3229, 3251), (3271, 3299), (3413, 3433), (3469, 3491), (3739, 3761), (3947, 3967), (3967, 3989), (4027, 4049), (4177, 4201), (4297, 4327), (4523, 4547), (4759, 4783), (4831, 4861), (5119, 5147), (5237, 5261), (5351, 5381), (5449, 5471), (5531, 5557), (5591, 5623), (5717, 5737), (5749, 5779), (5903, 5923), (5953, 5981), (5987, 6007), (6173, 6197), (6397, 6421), (6427, 6449), (6491, 6521), (6737, 6761), (6803, 6823), (6917, 6947), (7079, 7103), (7129, 7151), (7253, 7283), (7369, 7393), (7649, 7669), (7759, 7789), (7793, 7817), (7963, 7993), (8017, 8039), (8123, 8147), (8243, 8263), (8329, 8353), (8389, 8419), (8467, 8501), (8543, 8563), (8783, 8803), (8867, 8887), (8893, 8923), (8971, 8999), (9067, 9091), (9257, 9277), (9349, 9371), (9439, 9461), (9551, 9587), (9697, 9719)]

In [35]:
print(f"Total number of large-gap prime pairs found: {len(large_gap_prime_pairs)}")
print("Saving large-gap prime pairs to 'large_gap_prime_pairs.txt'...")

output_filename = 'large_gap_prime_pairs.txt'
with open(output_filename, 'w') as f:
    for p1, p2 in large_gap_prime_pairs:
        f.write(f"{p1}, {p2}\n")

print(f"Large-gap prime pairs successfully saved to '{output_filename}'.")

Total number of large-gap prime pairs found: 69
Saving large-gap prime pairs to 'large_gap_prime_pairs.txt'...
Large-gap prime pairs successfully saved to 'large_gap_prime_pairs.txt'.

The total number of consecutive prime pairs with a gap of 20 or greater found up to 10,000 is 69. A sample of these results includes pairs like (887, 907), (1129, 1151), and (1327, 1361).

**6. BMI Logger with Unit Options (I/O, validation, datetime)**

In [36]:
import csv

# 1. Define CSV_FILE variable
CSV_FILE = 'bmi_records.csv'

# 2. Create imperial_to_metric function
def imperial_to_metric(pounds, inches):
    # Conversion factors
    kg_per_pound = 0.453592
    meters_per_inch = 0.0254

    # Convert
    kilograms = pounds * kg_per_pound
    meters = inches * meters_per_inch

    return kilograms, meters

# 3. Create get_bmi_category function
def get_bmi_category(bmi_value):
    if bmi_value < 18.5:
        return 'Underweight'
    elif 18.5 <= bmi_value < 25.0:
        return 'Normal weight'
    elif 25.0 <= bmi_value < 30.0:
        return 'Overweight'
    else:
        return 'Obese'

print(f"CSV file name set to: {CSV_FILE}")

# Test conversion function
kgs, meters = imperial_to_metric(150, 68) # Example: 150 lbs, 68 inches
print(f"150 lbs is {kgs:.2f} kg, 68 inches is {meters:.2f} meters")

# Test BMI category function
print(f"BMI 17.0 is: {get_bmi_category(17.0)}")
print(f"BMI 22.0 is: {get_bmi_category(22.0)}")
print(f"BMI 28.0 is: {get_bmi_category(28.0)}")
print(f"BMI 32.0 is: {get_bmi_category(32.0)}")

CSV file name set to: bmi_records.csv
150 lbs is 68.04 kg, 68 inches is 1.73 meters
BMI 17.0 is: Underweight
BMI 22.0 is: Normal weight
BMI 28.0 is: Overweight
BMI 32.0 is: Obese

In [37]:
def ensure_csv_file(filepath):
    # Define the header for the BMI records
    fieldnames = ['timestamp', 'weight_kg', 'height_m', 'bmi', 'category']

    # Check if the file exists and is not empty
    try:
        with open(filepath, 'r') as f:
            has_header = csv.Sniffer().has_header(f.read(1024))
            f.seek(0) # Reset file pointer after reading
    except FileNotFoundError:
        has_header = False # File does not exist, so no header

    # Create the file with header if it doesn't exist or is empty
    if not has_header:
        with open(filepath, 'w', newline='') as csvfile:
            writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
            writer.writeheader()
        print(f"CSV file '{filepath}' created/initialized with header.")
    else:
        print(f"CSV file '{filepath}' already exists with header.")

# Call the function to ensure the CSV file exists with the header
ensure_csv_file(CSV_FILE)

CSV file 'bmi_records.csv' created/initialized with header.

In [38]:
import csv
from datetime import datetime

def log_bmi_entry(weight, height, unit):
    # 3. Input validation
    if not isinstance(weight, (int, float)) or weight <= 0:
        print("Error: Weight must be a positive number.")
        return
    if not isinstance(height, (int, float)) or height <= 0:
        print("Error: Height must be a positive number.")
        return

    weight_kg = weight
    height_m = height

    # 4. Convert units if necessary
    if unit.lower() == 'imperial':
        weight_kg, height_m = imperial_to_metric(weight, height)
    elif unit.lower() != 'metric':
        print("Error: Unit must be 'metric' or 'imperial'.")
        return

    # 5. Calculate BMI
    if height_m == 0:
        print("Error: Height cannot be zero for BMI calculation.")
        return
    bmi = weight_kg / (height_m * height_m)

    # 6. Determine BMI category
    category = get_bmi_category(bmi)

    # 7. Generate a timestamp
    timestamp = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

    # 8. Prepare the record as a dictionary
    record = {
        'timestamp': timestamp,
        'weight_kg': f"{weight_kg:.2f}",
        'height_m': f"{height_m:.2f}",
        'bmi': f"{bmi:.2f}",
        'category': category
    }

    # 9. Append the record to the CSV file
    fieldnames = ['timestamp', 'weight_kg', 'height_m', 'bmi', 'category']
    try:
        with open(CSV_FILE, 'a', newline='') as csvfile:
            writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
            writer.writerow(record)
        print(f"BMI record successfully logged for {record['timestamp']}. Category: {category}")
    except Exception as e:
        print(f"Error writing to CSV file: {e}")

# 10. Demonstrate usage
print("\n--- Demonstrating log_bmi_entry function ---")
# Metric entry
log_bmi_entry(70, 1.75, 'metric')
# Imperial entry
log_bmi_entry(150, 68, 'imperial') # 150 lbs, 68 inches
# Invalid input: negative weight
log_bmi_entry(-60, 1.70, 'metric')
# Invalid input: unknown unit
log_bmi_entry(75, 1.80, 'foot-pound')

--- Demonstrating log_bmi_entry function ---
BMI record successfully logged for 2025-12-29 16:47:36. Category: Normal weight
BMI record successfully logged for 2025-12-29 16:47:36. Category: Normal weight
Error: Weight must be a positive number.
Error: Unit must be 'metric' or 'imperial'.

In [40]:
import csv

def display_bmi_trend():
    records = []
    try:
        with open(CSV_FILE, 'r', newline='') as csvfile:
            reader = csv.DictReader(csvfile)
            for row in reader:
                records.append(row)
    except FileNotFoundError:
        print("No BMI records found. Please log some entries first.")
        return

    # Select the last 10 entries if available, otherwise all entries
    entries_to_display = records[-10:]

    if not entries_to_display:
        print("No BMI entries to display.")
        return

    print("\n--- Recent BMI Entries and Trend ---")
    print("Timestamp             BMI     Category        Trend")
    print("----------------------------------------------------")

    max_bar_length = 20 # Maximum length for the ASCII bar
    # Assuming BMI typically ranges from 15 to 40 for a reasonable scale, max scale would be around 50
    # We'll use a fixed scale for simplicity, e.g., 1 unit of BMI = 1 character

    for entry in entries_to_display:
        timestamp = entry.get('timestamp', 'N/A')
        bmi_value = float(entry.get('bmi', 0))
        category = entry.get('category', 'N/A')

        # Generate ASCII trend bar
        # Scale BMI value to fit max_bar_length. A BMI of 50 would be full bar.
        scaled_bmi = int((bmi_value / 50.0) * max_bar_length)
        trend_bar = '#' * min(scaled_bmi, max_bar_length) # Ensure bar doesn't exceed max length

        print(f"{timestamp:<20} {bmi_value:<7.2f} {category:<15} {trend_bar}")

# Calling the function to demonstrate its functionality
display_bmi_trend()

# Logging a few more entries to show the trend more clearly
print("\n--- Logging additional entries for better trend visualization ---")
log_bmi_entry(75, 1.75, 'metric') # BMI 24.49
log_bmi_entry(80, 1.75, 'metric') # BMI 26.12
log_bmi_entry(85, 1.75, 'metric') # BMI 27.76
log_bmi_entry(90, 1.75, 'metric') # BMI 29.39
log_bmi_entry(92, 1.75, 'metric') # BMI 30.05
log_bmi_entry(95, 1.75, 'metric') # BMI 31.03
log_bmi_entry(98, 1.75, 'metric') # BMI 32.01
log_bmi_entry(100, 1.75, 'metric') # BMI 32.67

display_bmi_trend()

--- Recent BMI Entries and Trend ---
Timestamp             BMI     Category        Trend
----------------------------------------------------
2025-12-29 16:47:36  22.86   Normal weight   #########
2025-12-29 16:47:36  22.81   Normal weight   #########
2025-12-29 16:48:31  24.49   Normal weight   #########
2025-12-29 16:48:31  26.12   Overweight      ##########
2025-12-29 16:48:31  27.76   Overweight      ###########
2025-12-29 16:48:31  29.39   Overweight      ###########

--- Logging additional entries for better trend visualization ---
BMI record successfully logged for 2025-12-29 16:52:43. Category: Normal weight
BMI record successfully logged for 2025-12-29 16:52:43. Category: Overweight
BMI record successfully logged for 2025-12-29 16:52:43. Category: Overweight
BMI record successfully logged for 2025-12-29 16:52:43. Category: Overweight
BMI record successfully logged for 2025-12-29 16:52:43. Category: Obese
BMI record successfully logged for 2025-12-29 16:52:43. Category: Obese
BMI record successfully logged for 2025-12-29 16:52:43. Category: Obese
BMI record successfully logged for 2025-12-29 16:52:43. Category: Obese

--- Recent BMI Entries and Trend ---
Timestamp             BMI     Category        Trend
----------------------------------------------------
2025-12-29 16:48:31  27.76   Overweight      ###########
2025-12-29 16:48:31  29.39   Overweight      ###########
2025-12-29 16:52:43  24.49   Normal weight   #########
2025-12-29 16:52:43  26.12   Overweight      ##########
2025-12-29 16:52:43  27.76   Overweight      ###########
2025-12-29 16:52:43  29.39   Overweight      ###########
2025-12-29 16:52:43  30.04   Obese           ############
2025-12-29 16:52:43  31.02   Obese           ############
2025-12-29 16:52:43  32.00   Obese           ############
2025-12-29 16:52:43  32.65   Obese           #############

**7. Adaptive Guessing Game (loops, state persistence)**